body {
  background-color: #336666;
}
.baseColor {
  color: #663333;
}
.bgLight {
  color: #884a44;
}
.bgLight2 {
  color: #aa6355;
}
.bgDark {
  color: #442225;
}
.bgDark2 {
  color: #221114;
}
nav {
  height: 40px;
  width: 100%;
}
nav li {
  height: 38px;
  width: 100px;
}
nav li a {
  color: #000;
}
nav li a:link {
  text-decoration: none;
}
nav li a:visited {
  color: #CC3333;
  text-decoration: none;
}
nav li a:hover {
  text-decoration: underline;
  font-weight: bold;
}
nav li a:active {
  text-decoration: underline;
}
/*media query*/
.navigation {
  margin-top: 30%;
  width: 100%;
}
@media screen and (min-width: 40em) {
  .navigation {
    margin: 0;
  }
}
@media screen and (min-width: 62em) {
  .navigation {
    width: 960px;
    margin: 0;
  }
}
/*mixins*/
.feature {
  background-color: #FFF;
  color: #663333;
}
